/* *{
    margin: 0;
    padding: 0;
} */
.icon i{
    font-size: 300%;
    
}
.social i{
    margin-left: 5%;
}
.ico{
    font-size: 300%;
}

@media (min-width:769px) {
    .newsInput{
        width: 50%;
    }
    
}
@media (max-width:760px) {
    .instructors{
        margin-bottom: 20px;
    }
}